/* 
	detect CSS 		
 	created: March 2017 
 	last modified: April 2017 Steve Rucker
	author: Josue Rodriguez
*/
.btn-kairos {
	background-color: #139C8A;
	color: #FFF!important;
	border-radius: 0;
	font-weight: bold;
	padding: 12px;
}
	.btn:hover {
		background-color: #0d6f62;
		color: #FFF!important;
	}
.display-image-container {
	position: relative;
	width: 100%;
	height: 475px;
	overflow: hidden;
}
.image-container-template {
	background-color: #2c3444;
    width: 100%;
    height: 475px;
    margin-left: 15px;
    position: relative;
    display: none;
}
/* UPLOAD MODULE */
#mediaUploadForm {
	margin: 0;
	max-width: 440px; 
}
.upload-button {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #fff!important;
    height: 46px;
    width: 100%;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    padding: 0;
}
.upload-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 9999;
    margin: 0;
    padding: 12px;
}
.upload-value {
	position: absolute;
	top: 7px;
    left: 104px;
	color: #fff;
}
.url-error {
	color: #ff0000;
	padding: 10px 0 0 10px;
	font-size: 12px;
}
/* PROCESSING STATUS ELEMENTS */
.spinner-message-container {
	position: absolute;
	top: 42%;
    left: 0;
    width: 97%;
    /*display: none;*/
}
.processing-spinner {
	width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/spinner.gif') no-repeat;
}
.sad-face {
	width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/sad_face.png') no-repeat;
}
.message-container{
	font-size: 14px;
	clear: both;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	padding: 0 10%;
}
.ui-buttons {
	position: relative;
}
.ui-buttons .upload.full-width {
	padding-left: 15px;
	width: 100%;
}
.ui-buttons .url {
	padding-right: 0;
}
.ui-buttons div:nth-child(4) {
	margin-top: 15px;
}
.ui-buttons div button {
	width: 100%;
}
.ui-buttons input {
	border: 2px solid #CCC;
    margin-top: 15px;
    height: 46px;
    width: 100%;
    padding-left: 10px;
    color: #333;
}
/* facerace styles */
.main-container { 
	max-width: 470px; 
}
#waiting { 
	display: none; 
	margin-bottom: 10px; 
	position: relative; 
}
#diversity_image { 
	margin-bottom: 10px; 
	cursor: pointer;
}
#social_plugins { 
	text-align: center; 
	margin-top: 10px; 
}
#fb_share_button { 
	width: 73px; 
	cursor:hand; 
	top: -11px; 
	position: relative; 
}
#kairos_social_plugin_twitter { 
	margin-right: 10px; 
}

