/*/* 
	emotion CSS 		
 	created: May 2016 
 	modified: June 2016
 	last modified: January 2017
	author: Steve Rucker
*/
.btn-kairos {
	background-color: #139C8A;
	color: #FFF!important;
	border-radius: 0;
	font-weight: bold;
	padding: 12px;
}
	.btn:hover {
		background-color: #0d6f62;
		color: #FFF!important;
	}
.main-container {

}
.main-video-container {

}
/* VIDEO */
#video {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
/* vertically align video */
.video-wrapper {
	position: relative;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}
.video-controls {
	background-color: #2c3444;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 99;
}
#play-pause {
	float: left;
	padding: 10px;
	margin: 10px 30px;
}
#play-pause.play{
	background: transparent url("../images/play.png") no-repeat 0 0;
}
#play-pause.pause{
	background: transparent url("../images/pause.png") no-repeat 0 0;
}
#progress {
	background-color: #464d5b;
	height: 20px;
	width: 65%;
	float: left;
    margin-top: 10px;
}
#progress-holder {
	height: 20px;
	width: 100%;
}
#progress-bar {
	width: 0;
	height: 20px;
	display: block;
	background-color: #FFF;
	position: relative;
}
#progress-scrubber {
	width: 28px;
    height: 28px;
    background-size: 28px 28px;
    background: transparent url("../images/scrubber.png") no-repeat right 0;
    cursor: pointer;
    position: absolute;
    display: block;
    right: -14px;
    top: -4px;
}
/* for high resolution display */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	#progress-scrubber {
	    background: transparent url("../images/scrubber-2x.png") no-repeat right 0;
	    background-size: 28px 28px;
	}
}
#progress-time {
	width: 40px;
	height: 20px;
	color: #FFF;
	float: left;
	text-align: left;
	margin: 10px 0 0 25px;
}
.canvas-container-video {
	width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    /*left: -48%;*/
    z-index: 9;
}
.canvas-container-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
/* Highcharts */
.highcharts-container {
	padding: 0;
	height: 615px;
}
.highcharts-menu {
    height: 90px;
}
.highcharts-wrapper {
	height: 560px;
	padding-top: 8px;
	position: relative;
	border: 1px solid #6c6b6e;
    clear: both;
}
#highcharts-titles {
	position: absolute;
	width: 0;
	height: 90%;
	top: 0;
	left: 0;
	z-index: 2;
	padding-left: 13px;
}
#highcharts-curtain-wrapper {
	position: absolute;
    width: 97%;
    height: 90%;
    top: 0;
    left: 0;
    background-color: #fff;
}
#highcharts-curtain {
	display: none;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    padding-top: 6px;
}
#highcharts-curtain .gridlines {
	width: 100%;
    height: 57px;
    margin-top: 33px;
    border-bottom: 1px solid #d8d8d8;
}
.highchart-title {
	font-family: 'ProximaNova-Bold';
    height: 80px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-top: 32px;
    margin-bottom: 6px;
}
#highcharts-containers {
	width: 100%;
	height: 100%;
}
#highcharts-containers > div {
	width: 99%;
    height: 85px;
    margin-bottom: 5px;
    margin-left: 2px;
}
/* tooltip */
#highcharts-containers > div:nth-child(2) .highcharts-container {
	height: 130px!important;
}
#highcharts-containers > div:nth-child(2) .highcharts-container svg {
	height: 130px;
}

#highcharts-containers p {
	font-size: 20px;
	font-weight: bold;
	color: #ff0000;
	text-align: center;
	margin: 20px 0;
}
.highcharts-container {
	z-index: 2!important;
}
.emotion .show-json, .emotion .hide-json {
    top: 14px;
}
.autoscale-checkbox {
	position: absolute;
    left: 104px;
    top: 14px;
    z-index: 9;
}
.featurepoints-checkbox {
	position: absolute;
    left: 185px;
    top: 14px;
    z-index: 9;
    display: none;
}
#highcharts-container-image {
	padding-left: 0;
	height: 100%;
	padding-top: 40px;
	border: 1px solid #6c6b6e;
	display: none;
}

.thumbnails {
	margin-top: 15px;
}
.media-thumbnail img {
	width: 314px;
	margin-right: 15px;
	opacity: 0.7;
}
.media-thumbnail:last-child img {
	margin-right: 0;
}
.webcam-video-container, .show-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
    top: 0;
    left: 0;
}
.show-image {
    z-index: 1;
}
.template-background {
	width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c3444;
}
#webcamVideo {
	position: absolute;
	top: 0;
    left: -140px;
	z-index: 9;
}
.face-overlay{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: transparent url('../images/face_overlay.png') no-repeat;
    background-size: 50%;
    background-position: 45% 45%;
    z-index: 10;
    display: none;
    left: -28px;
    top: 12px;
}
/* show age/gender */
.response-box-container {
    position: absolute;
    left: 7px;
    top: 48px;
    width: 192px;
    height: 20px;
    z-index: 10;
}
.response-box-gender, .response-box-age {
    float: right;
    border: 1px solid #6c6b6e;
    padding: 1px 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-left: 5px;
}
/* UPLOAD MODULE */
#mediaUploadForm {
	margin: 0;
}
.upload-button {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #fff!important;
    height: 46px;
    width: 100%;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    padding: 0;
}
.upload-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 99;
    margin: 0;
    padding: 12px;
}
.url-error {
	color: #ff0000;
	padding: 10px 0 0 10px;
	font-size: 12px;
}
.upload-error {
	color: #ff0000;
	font-size: 12px;
	margin-bottom: -18px;
}
/* PROCESSING STATUS ELEMENTS */
.spinner-message-container {
	position: absolute;
    top: 45%;
    left: 13%;
    width: 75%;
    /*display: none;*/
}
.webcam-video-container .spinner-message-container {
	width: 100%;
}
.processing-spinner {
	width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/spinner.gif') no-repeat;
}
.processing-spinner-transparent {
	width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/spinner_transparent.gif') no-repeat;
}
.sad-face {
	width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/sad_face.png') no-repeat;
}
.message-container{
	font-size: 14px;
	clear: both;
	color: #fff;
	text-align: center;
	margin: 10px 20% 0;
}
.highcharts-template .message-container{
	color: #333;
}
	.message-container.strong{
		font-size: 16px;
		font-weight: bold;
	}
.json-template .message-container{
    color: #333;
}
.emotion.json-response-container {
    width: 100%;
    padding-right: 0;
}
.emotion .json-response {
    width: 100%;
}
.webcam-counter {
	position: absolute;
    top: 46%;
    width: 100%;
    z-index: 999;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
}
.ui-buttons {
	margin-top: 50px;
    margin-bottom: 50px;
	position: relative;
    display: none;
}
.ui-buttons .upload {
	padding-left: 0;
}
.ui-buttons .submit {
    padding-left: 0;
}
.ui-buttons .upload.full-width {
	padding-left: 15px;
	width: 100%;
	height: 46px;
}
.ui-buttons .url {
    clear: both;
}
.ui-buttons div:nth-child(4) {
	margin-top: 15px;
}
.ui-buttons div button {
	width: 100%;
}
.ui-buttons input {
	border: 2px solid #CCC;
    margin-top: 15px;
    height: 46px;
    width: 100%;
    padding-left: 10px;
    color: #333;
}
.ui-buttons-mask {
	position: absolute;
    top: 0;
    left: 15px;
    background-color: #000;
    opacity: 0.3;
    width: 97%;
    height: 100%;
    z-index: 9999;
}
