@media (min-width: 480px) {

}

@media (max-width: 600px) {
	.highcharts-container {
	    height: 479px;
	}
	.highcharts-wrapper {
	    height: 424px;
	    padding-top: 0;
	}
	#highcharts-curtain-wrapper {
	    height: 100%;
	}
	#highcharts-curtain {
	    height: 100%;
	    padding-top: 0;
	}
	#highcharts-curtain .gridlines {
	    height: 34px;
	    margin-top: 34px;
	}
	.highchart-title {
	    height: 63px;
    	padding-top: 3px;
    	margin-bottom: 4px;
	}
	#highcharts-containers {
	    margin-top: -21px;
	}
	#highcharts-containers > div {
	    height: 53px;
    	margin-bottom: 15px;
	}
	.emotion.json-response-container {
		height: 479px;

	}
	.face-overlay {
		left: 2%;
	}
	.spinner-message-container {
		left: 10%;
	}
	.video-container-template .spinner-message-container {
		top: 36%;
	}
	.highcharts-template .spinner-message-container {
		top: 54%;
	}
}

@media (min-width: 768px) {
	.spinner-message-container {
		left: 13%;
	}
	.highcharts-template .spinner-message-container {
		top: 54%;
	}
	

}

@media (min-width: 992px) {
	.ui-buttons .submit {
	    padding-left: 15px;
	}
	.main-container {
		width: 980px;
		margin: 0 auto;
		padding: 50px 0;
	}
	.main-video-container {
		padding-right: 0;
		height: 560px!important;
	}
	/* VIDEO */
	#video {
		height: 520px!important;
	    width: 923px;
	    position: absolute;
	    left: -48%;
	}
	/* vertically align video */
	.video-wrapper {
	    top: 50%;
	    transform: translateY(-50%);
	    width: 475px;
	    height: 100%;
	    margin-top: 0;
	}
	.video-controls {
		background-color: #2c3444;
	    width: 100%;
	    height: 40px;
	    position: absolute;
	    bottom: 0;
	}
	.canvas-container-video {
		width: 923px;
	    height: 520px;
	    left: -48%;
	}
	.canvas-container-image {
	    width: 475px;
	    height: 560px;
	}
	.display-image-container {
		width: 475px;
		height: 475px;
		margin-top: 42px;
	}
	#displayCanvasimage {
		margin-top: 42px;
	}
	/* Highcharts */
	.highcharts-container {
		padding-right: 15px;
		height: 560px;
	}
	.highcharts-menu {
		height: 0;
	}
	#highcharts-titles {
		position: absolute;
		width: 0;
		height: 550px;
	}
	#highcharts-curtain-wrapper {
	    height: 555px;
	}
	#highcharts-curtain {
	    height: 555px;
	}
	#highcharts-container-image {
		height: 560px;
	}
	.webcam-video-container, .show-image {
		width: 475px;
		height: 560px;
	    left: 15px;
	}
	.show-image {
	    z-index: 1;
	}
	.template-background {
		width: 475px;
	    height: 560px;
	    left: 15px;
	}
	.emotion .show-json, .emotion .hide-json {
	    top: 7px;
	}
	.autoscale-checkbox {
	    top: 7px;
	}
	.featurepoints-checkbox {
	    top: 7px;
	}
	/* show age/gender */
	.response-box-container {
	    position: absolute;
	    top: 6px;
	    left: inherit;
	    right: 26px;
	}
	/* PROCESSING STATUS ELEMENTS */
	.video-container-template .spinner-message-container {
		position: absolute;
	    top: 45%;
	    left: 13%;
	    width: 75%;
	    /*display: none;*/
	}
	.ui-buttons {
		margin-top: 15px;
		position: relative;
	    display: none;
	}
	.ui-buttons .upload.full-width {
		padding-left: 15px;
		width: 100%;
		height: 46px;
	}
	.ui-buttons .url {
		padding-right: 0;
	}
	.highcharts-template .spinner-message-container {
		top: 45%;
	}
	.emotion.json-response-container {
	    width: 490px;
	    height: 560px; 
	    float: inherit;
	}
	.emotion .json-response {
		width: 490px;
	}
	.face-overlay {
		left: 14px;
	}
}

@media (min-width: 1200px) {

}

